.quick-white-background {
    background-color: #FFFFFF
}
.quick-main-background {
    background-color: #FFE6E3
}
.quick-lesson-background {
    background-color: #E3EBFF
}
.quick-module-background {
    background-color: #F6FFE3
}
.quick-quiz-background {
    background-color: #FFFBE3
}
.quick-review-background {
    background-color: #F4E3FF
}
.quick-lesson-button {
    font-size: 1.4em; 
    text-align: center;
}

:root {
    --primary: #3b3c3e;
    --secondary: #1e6111;
    --success: #234d7b;
    --info:  #64c3d2;
    --warning: #f5e74a;
    --danger: #820410;
}
