.main-background {
    background-color: #FFE6E3
}
.lesson-background {
    background-color: #E3EBFF
}
.module-background {
    background-color: #F6FFE3
}
.quiz-background {
    background-color: #FFFBE3
}
.review-background {
    background-color: #F4E3FF
}
