.quick-white-background {
    background-color: #FFFFFF
}
.quick-main-background {
    background-color: #FFE6E3
}
.quick-lesson-background {
    background-color: #E3EBFF
}
.quick-module-background {
    background-color: #F6FFE3
}
.quick-quiz-background {
    background-color: #FFFBE3
}
.quick-review-background {
    background-color: #F4E3FF
}
